.item {
  box-shadow: inset var(--itemWidthMinus) var(--itemWidthMinus) 0
      rgba(255, 255, 255, 0.926),
    inset var(--itemWidth) var(--itemWidthMinus) 0 rgba(83, 83, 83, 0.816),
    inset var(--itemWidthMinus) var(--itemWidth) 0 rgba(94, 94, 94, 0.853),
    inset var(--itemWidth) var(--itemWidth) 0 rgba(107, 106, 106, 0.885),
    0 0 20px silver;
  transition: box-shadow ease-in-out 0.6s, color ease-in-out 0.5s;
  width: var(--itemWidth);
  height: var(--itemWidth);
  border-radius: 50%;
  text-align: center;
  background: center/100% 100% no-repeat;
  cursor: pointer;
  display: grid;
  color: #7d858c;
  /* font-size: calc(var(--itemWidth) / 7); */
  grid-row: 2 / 3;
}
.item:hover {
  .product-grid-image {
    visibility: hidden;
  }
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent,
    inset 0 0 0 transparent, inset 0 0 0 transparent, 0 0 20px silver;
  color: transparent;
}
.items {
  --itemWidth: min(300px, 30vw);
  --itemWidthMinus: calc(-1 * var(--itemWidth));
  height: max-content;
  width: max-content;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, calc(3vw + var(--itemWidth)));
  /* font-family: 'Averia Serif Libre'; */
  justify-content: center;
}
.item1 {
  background-image: url("../../assets/rakshak.16b584a7.jpg");
}
.item2 {
  background-image: url("../../assets/sangrah.efa6ae15.png");
}
.item3 {
  background-image: url("../../assets/chaalak.6761caec.png");
}
.item4 {
  background-image: url("../../assets/pehchaan.0f53dd6f.png");
}
.item5 {
  background-image: url("../../assets/garud.b002f4c8.png");
}
.item6 {
  background-image: url("../../assets/blockchain.26da5015.png");
}
.item7 {
  background-image: url("../../assets/eklavya.1c361320.png");
}
.item8 {
  background-image: url("../../assets/swayam.5d5bdef4.png");
}
.item > span {
  width: 80%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
/* h3{
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	height: 80px;
	width: 90vw;
	text-align: center;
}
body * { place-self: center;}
body {
	display: grid;
	height: 100vh;
} */

/* Tablate or Laptop */
@media (min-width: 992px) and (max-width: 1030px) {
  .items {
    --itemWidth: min(300px, 30vw);
    --itemWidthMinus: calc(-1 * var(--itemWidth));
    height: max-content;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(3, calc(2vw + var(--itemWidth)));
    /* font-family: 'Averia Serif Libre'; */
  }
}

/* Tablate or Laptop */
@media (min-width: 768px) and (max-width: 992px) {
  .items {
    --itemWidth: min(300px, 30vw);
    --itemWidthMinus: calc(-1 * var(--itemWidth));
    height: max-content;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, calc(1vw + var(--itemWidth)));
    /* font-family: 'Averia Serif Libre'; */
    justify-content: space-around;
  }
}

/* Mobile Phone */
@media (min-width: 310px) and (max-width: 767px) {
  .item {
    box-shadow: inset var(--itemWidthMinus) var(--itemWidthMinus) 0
        rgba(255, 255, 255, 0.926),
      inset var(--itemWidth) var(--itemWidthMinus) 0 rgba(83, 83, 83, 0.816),
      inset var(--itemWidthMinus) var(--itemWidth) 0 rgba(94, 94, 94, 0.853),
      inset var(--itemWidth) var(--itemWidth) 0 rgba(107, 106, 106, 0.885),
      0 0 20px silver;
    transition: box-shadow ease-in-out 0.6s, color ease-in-out 0.5s;
    width: var(--itemWidth);
    height: var(--itemWidth);
    border-radius: 50%;
    text-align: center;
    /* background: center/100% 100% no-repeat; */
    cursor: pointer;
    display: grid;
    color: #7d858c;
    /* font-size: calc(var(--itemWidth) / 7); */
    grid-row: 1 / 3;
  }
  .items {
    --itemWidth: min(300px, 100vw);
    --itemWidthMinus: calc(-1 * var(--itemWidth));
    height: max-content;
    width: max-content;
    display: grid;
    grid-template-rows: repeat(1, max-content);
    grid-template-columns: repeat(1, calc(1vw + var(--itemWidth)));

    justify-content: flex-start;
  }


  .mobile-product-container{
    padding-left: 0px;
  }
}
