#root {
  max-width: 100%;
  margin-top: 0 auto;
  padding: 0;
  text-align: center;
}

.row{
  width: 100%!important;
  margin:0px;
}

.thm-env-color {
  background-color: #d81f2a !important;
  color: white !important;
}

.thm-color {
  color: #17fff2 !important;
}

.thm-bg-color {
  background-color: #17fff2;
}

.nav-icon {
  width: 40px;
  height: 30px;
  filter: brightness(0);
}

.cs-w-10 {
  width: 10% !important;
}

.cs-w-20 {
  width: 20% !important;
}
.cs-w-30 {
  width: 30% !important;
}
.cs-w-40 {
  width: 40% !important;
}
.cs-w-50 {
  width: 50% !important;
}
.cs-w-60 {
  width: 60% !important;
}
.cs-w-70 {
  width: 70% !important;
}
.cs-w-80 {
  width: 80% !important;
}
.cs-w-90 {
  width: 90% !important;
}

.cs-mt-1 {
  margin-top: 1rem !important;
}
.cs-mt-2 {
  margin-top: 2rem !important;
}
.cs-mt-3 {
  margin-top: 3rem !important;
}
.cs-mt-4 {
  margin-top: 4rem !important;
}
.cs-mt-5 {
  margin-top: 5rem !important;
}

.cs-mt-6 {
  margin-top: 6rem !important;
}

.cs-mt-7 {
  margin-top: 7rem !important;
}
.cs-mt-8 {
  margin-top: 8rem !important;
}
.cs-mt-9 {
  margin-top: 9rem !important;
}
.cs-mt-10 {
  margin-top: 10rem !important;
}

/* === BASE HEADING === */

.cs-title-style {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.cs-title-style span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
.cs-title-style em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #1 === */
.head .cs-title-style {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.head .cs-title-style :before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.head .cs-title-style :after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}

/* Nav Bar start */
.nav-logo {
  width: 100px;
}
/* Nav Bar End */


/* Product Component start */
.product-grid-image-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px !important;
  width: 300px !important;
  margin: auto !important;
  margin-bottom: 20px !important;
  padding-top: 20px;
}

.product-grid-image {
  width: 70px;
  margin: auto;
  /* height: 60px; */
  transition: 0.5s ease-in-out;
}

/* Product Component End */












 


/* Tablate or Laptop */
/* @media (min-width: 768px) and (max-width: 992px){...} */

/* Mobile Phone */
/* @media (min-width: 480px) and (max-width: 767px) {...}  */