/* @import url(https://fonts.googleapis.com/css?family=Roboto:300,400); */
/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); */
figure.snip1390 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 465px;
  width: 100%;
  min-height: 475px;
  max-height: 500px;
  height: 100%;
  color: var(--cs-primaryHeading);
  text-align: center;
  font-size: 16px;
  background-color: var(--cs-secondaryBg);
  padding: 30px;
  background-image: linear-gradient(
    -25deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
}
.bg-box-style:before {
  min-height: 575px;
  max-height: 500px;
  height: 100%;
  max-width: 130px;
  min-width: 110px;
  width: 100%;
  background-color: var(--theamColor);
}
.bg-box-style:before {
  content: "";
  position: absolute;
  left: 3%;
  top: 0%;
  min-height: 575px;
  max-height: 500px;
  height: 100%;
  max-width: 130px;
  min-width: 110px;
  width: 100%;
  background-color: var(--theamColor);
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 85%;
  margin-left: auto;
  height: 350px;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
blockquote h1:before {
  width: 90px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 29%;
  top: 20%;
  margin-left: -14px;
  background-color: var(--theamColor);
}


figure.snip1390 blockquote {
  font-size: 1em;
  margin-top: 30px;
  padding: 45px 20px 40px 80px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  height: 350px;
}
figure.snip1390 blockquote:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.75;
  font-style: normal;
  top: -45px;
  left: 20px;
}
figure.snip1390 .circle1 {
  width: 150px;
  border-radius: 50% / 100% 100% 0 0;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  position: absolute;
  z-index: 5;
  left:5%;
  top: 36%;
  background-color:#fec08f;
  height: 70px;
}
figure.snip1390 .squar {
  width: 150px;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  position: absolute;
  z-index: 4;
  left:5%;
  top: 50%;
  background-color: #fec08f;
  height: 90px;
}
figure.snip1390 .circle2 {

  width: 150px;
  border-radius: 50% / 0 0 100% 100%;
  border: none;
  display: inline-block;
  margin-bottom: 10px;
  position: absolute;
  z-index: 15;
  left: 5%;
  top: 69%;
  background-color: #fec08f;
  height: 70px;
  overflow-y: visible;
}
figure.snip1390 .profile {
  width: 150px;

  border-radius: 31% / 0 0 100% 100%;
  display: inline-block;
  margin-bottom: 10px;
  z-index: 150;
  position: absolute;
  left: 0%;
top: -150%;
  height: 170px;
}
/* .slick-slider{
    padding: 100px;
} */

.slick-slider button::before {
  color: var(--cs-primaryHeading);
}




/* Mobile  */
@media (min-width: 310px) and (max-width: 767px) {
.mobile-testomonial {
  padding: 0px!important;
}

figure.snip1390{
  max-width: 100%!important;
  max-height: 550px!important;
  min-height: 350px!important;

  margin: 0px!important;
  padding: 0px!important;
  
}

.bg-box-style:before{
  min-height: 350px!important;
}
figure.snip1390 blockquote{
  height: 250px!important;
}

blockquote h1{
  font-size: 20px!important;
}
blockquote h1:before {
  width: 50px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 42%;
  top: 32%;
  margin-left: -14px;
  background-color: var(--theamColor);
}
.mobile-testo-heading{
  padding-left: 100px!important;
  margin: 0px!important;
  margin-top: 10px!important;
  z-index: 400;
  font-size: 18px;
}


.teso-img{
  width: 40%;
}
.testo-title{
  font-size:14px!important;
}

.testo-desc{
  font-size: 11px!important;

}

figure.snip1390 .squar {
  width: 115px;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  position: absolute;
  z-index: 4;
  left: 5%;
  top: 52%;
  background-color: #fec08f;
  height: 80px;
}
figure.snip1390 .circle1 {
  width: 115px;
  border-radius: 50% / 100% 100% 0 0;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  position: absolute;
  z-index: 5;
  left: 5%;
  top: 36%;
  background-color: #fec08f;
  height: 60px;
}
figure.snip1390 .circle2 {
  width: 115px;
  border-radius: 50% / 0 0 100% 100%;
  border: none;
  display: inline-block;
  margin-bottom: 10px;
  position: absolute;
  z-index: 15;
  left: 5%;
  top: 73%;
  background-color: #fec08f;
  height: 60px;
  overflow-y: visible;
}
.circle2 img{
  width: 90%!important;
  margin: auto 5%!important;
  height:120px!important;
  top: -105%!important;
}

.bg-box-style:before {
min-width: 50px;
max-width: 80px;
}


}